@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["MyData"]</h1>
    <h2 class="display-4">@ViewBag.Result</h2>
    <img class="img-fluid" src="~/img/car1.jpg" alt="car image" />
      <img class="img-fluid" src="~/img/sport_car.png" alt="car image" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
